@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scroll-bar */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #131619;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #b8b9ba;
    border-radius: 100vh;
    border: 3px solid ;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  .scrollbarMain::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  .scrollbarMain::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #131619;
  }

  .scrollbarMain::-webkit-scrollbar-thumb {
    background: #E223D6;
    border-radius: 100vh;
    border: 3px solid ;
  }

  .scrollbarMain::-webkit-scrollbar-thumb:hover {
    background: pink;
  }
}

.google-font{
  font-family: 'Architects Daughter', cursive;
}